.product__order {
  //   flex-basis: 50%;
  flex: 1;
}
.selectQuantity {
  width: 35px;
  text-align: center;
}
input {
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
}
